/**
 * Name: ruleEditor stylesheet
 * Create: 2017-04-13
 */

:global(#ruleEditor) {
  color: #fff;
  h2 {
    position: relative;
    display: inline-block;
    color: #6ac5fe;
    line-height: 48px;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 2px solid #6ac5fe;
    z-index: 1;
  }
  & > div {
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 49px;
      left: 0;
      background-color: #225188;
    }
  }

  :global {
    .ant-form, .ant-tabs {
      padding: 25px;
    }
    .ant-select-selection{
      border-radius: 2px;
    }
    .ant-input {
      border-radius: 2px;
    }
    .ant-tabs-bar {
      border-bottom: 0;
      background-color: transparent;
    }
    .ant-tabs-tab {
      width: auto;
      background-color: #095a95;
      color: #9dd6ff;
      height: 28px;
      line-height: 28px;
      padding: 0 12px;
      border: 1px solid #297ebb;
      border-radius: 2px;
      margin-right: 10px;
    }
    .ant-tabs-tab-active {
      background-color: #158ad4;
      color: #fff;
      border-color: #158ad4;
      margin-bottom: 0;
    }
  }
  // :global(.ant-form-item) {
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }
}
