@import "../vars.less";

.timeAlert{
  position: relative;
  height: 80px;
  border: 1px solid #e4e7ec;
  background:white;
  border-radius: 3px;
  .xAxisLine{
    position: absolute;
    bottom: 22px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #e4e7ec;
    overflow: hidden;
  }
}
.listTimeTable{
  border-collapse: collapse;
  thead{
    tr{
      th{
        height: 38px;
        line-height: 38px;
        background: #f8fbfd;
        border-bottom: 1px solid #e4e7eb;
        border-top: 2px solid #e4e7eb;
      }
    }
  }
  tbody{
    td{
      height: 50px;
      line-height: 50px;
      background: white;
      border-bottom: 1px solid #e4e7eb;
      &.tdBorderRight{
        border-right: 1px solid #e4e7eb;
      }
    }

  }
  .relPos{
    position: relative;
    height: 38px;
  }
  .timePos{
    position: absolute;
    left: 0;
    top: 0;
  }
  .timeSep{
    position: absolute;
    left: 0;
    top: 32px;
    height: 6px;
    width: 1px;
    background: #ced2d9;
  }
  .timeLineDot{
    position: relative;
    width: 100%;
    height: 100%;

    .lineDot{
      position: absolute;
      left: 0;
      top: 24px;
      height: 1px;
      background: #d5ddeb;
    }
    span{
      position: absolute;
      top: 20px;
      width: 10px;
      height: 10px;
      background: #f26d49;
      border-radius: 10px;
    }
  }
}

// config tagsFilter style on local
.tagsIframe{
    position: relative;
    background: white;
    margin-bottom: 10px;
    padding-right: 190px;
    .selectBtn{
        position: relative;
        margin-right: 8px;
        display: inline-block;
        border: 1px solid #d5ddeb;
        height: 30px;
        width: 52px;
        //top: -11px;
        vertical-align: top;
        border-radius: 3px;
        cursor: pointer;
        .hopper{
            position: relative;
            color: #8c95a1;
            top: 2px;
            left: 7px;
        }
        .iconDiv{
            position: relative;
            display: inline-block;
            top: 2px;
            left: 13px;
            color: #b0bdd0;
            text-align: center;
        }
        .selectModalMain{
            position: absolute;
            top: 30px;
            z-index: 1000;
            .triangle{
                position: absolute;
                top: 3px;
                left: 31px;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 10px solid #dbe2ee;
                &:after{
                    display: block;
                    content: ' ';
                    position: absolute;
                    top: 2px;
                    left: -7px;
                    width: 0;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 10px solid #fff;
                    z-index: 1001;
                }
            }
            .container{
                position: relative;
                padding: 16px;
                border: 1px solid #d5ddeb;
                top: 13px;
                width: 488px;
                border-radius: 3px;
                box-shadow: #d7dce4 0px 0px 2px;
                -moz-box-shadow: #d7dce4 0px 0px 2px; /* Firefox */
                -webkit-box-shadow: #d7dce4 0px 0px 2px; /* Safari 和 Chrome */
                background-color: #fff;
            }
            
        }
    }
    
    .tagsGroup{
        position: relative;
        margin-right: 8px;
        margin-bottom: 8px;
        display: inline-block;
    }
}


// config dc-chart on global
:global {
  .dc-chart {
      background: #e8f2fc;
      height: 55px;
  }

  .dc-chart rect.bar {
      stroke: none;
      cursor: pointer;
      fill: #67e6bb;
  }
  .dc-chart rect.bar:hover {
      fill-opacity: .5;
  }
  .dc-chart rect.stack1 {
      stroke: none;
      fill: red;
  }
  .dc-chart rect.stack2 {
      stroke: none;
      fill: green;
  }
  .dc-chart rect.deselected {
      stroke: none;
      fill: #dbedff;
  }
  .dc-chart .pie-slice {
      fill: white;
      font-size: 12px;
      cursor: pointer;
  }
  .dc-chart .pie-slice.external {
      fill: black;
  }
  .dc-chart .pie-slice :hover {
      fill-opacity: .8;
  }
  .dc-chart .pie-slice.highlight {
      fill-opacity: .8;
  }
  .dc-chart .selected path {
      stroke-width: 3;
      stroke: #ccc;
      fill-opacity: 1;
  }
  .dc-chart .deselected path {
      stroke: none;
      fill-opacity: .5;
      fill: #ccc;
  }
  .dc-chart .axis path, .axis line {
      display: none;
  }
  .dc-chart .axis text {
      font: 10px sans-serif;
  }
  .dc-chart .grid-line {
      display: none;
      fill: none;
      stroke: #ccc;
      opacity: .5;
      shape-rendering: crispEdges;
  }
  .dc-chart .grid-line line {
      fill: none;
      stroke: #ccc;
      opacity: .5;
      shape-rendering: crispEdges;
  }
  .dc-chart .brush rect.background {
      z-index: -999;
  }
  .dc-chart .brush rect.extent {
      fill: steelblue;
      fill-opacity: .125;
  }
  .dc-chart .brush .resize path {
      fill: #eee;
      stroke: #666;
  }
  .dc-chart path.line {
      fill: none;
      stroke-width: 1.5px;
  }
  .dc-chart circle.dot {
      stroke: none;
  }
  .dc-chart g.dc-tooltip path {
      fill: none;
      stroke: grey;
      stroke-opacity: .8;
  }
  .dc-chart path.area {
      fill-opacity: .3;
      stroke: none;
  }
  .dc-chart .node {
      font-size: 0.7em;
      cursor: pointer;
  }
  .dc-chart .node :hover {
      fill-opacity: .8;
  }
  .dc-chart .selected circle {
      stroke-width: 3;
      stroke: #ccc;
      fill-opacity: 1;
  }
  .dc-chart .deselected circle {
      stroke: none;
      fill-opacity: .5;
      fill: #ccc;
  }
  .dc-chart .bubble {
      stroke: none;
      fill-opacity: 0.6;
  }
  .dc-data-count {
      float: right;
      margin-top: 15px;
      margin-right: 15px;
  }
  .dc-data-count .filter-count {
      color: #3182bd;
      font-weight: bold;
  }
  .dc-data-count .total-count {
      color: #3182bd;
      font-weight: bold;
  }
  .dc-data-table {
  }
  .dc-chart g.state {
      cursor: pointer;
  }
  .dc-chart g.state :hover {
      fill-opacity: .8;
  }
  .dc-chart g.state path {
      stroke: white;
  }
  .dc-chart g.selected path {
  }
  .dc-chart g.deselected path {
      fill: grey;
  }
  .dc-chart g.selected text {
  }
  .dc-chart g.deselected text {
      display: none;
  }
  .dc-chart g.county path {
      stroke: white;
      fill: none;
  }
  .dc-chart g.debug rect {
      fill: blue;
      fill-opacity: .2;
  }
  .dc-chart g.row rect {
      fill-opacity: 0.8;
      cursor: pointer;
  }
  .dc-chart g.row rect:hover {
      fill-opacity: 0.6;
  }
  .dc-chart g.row text {
      fill: white;
      font-size: 12px;
      cursor: pointer;
  }
  .dc-legend {
      font-size: 11px;
  }
  .dc-legend-item {
      cursor: pointer;
  }
  .dc-chart g.axis text {
      /* Makes it so the user can't accidentally click and select text that is meant as a label only */
      -webkit-user-select: none;
      /* Chrome/Safari */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* IE10 */
      -o-user-select: none;
      user-select: none;
      pointer-events: none;
  }
  .dc-chart path.highlight {
      stroke-width: 3;
      fill-opacity: 1;
      stroke-opacity: 1;
  }
  .dc-chart .highlight {
      fill-opacity: 1;
      stroke-opacity: 1;
  }
  .dc-chart .fadeout {
      fill-opacity: 0.2;
      stroke-opacity: 0.2;
  }
  .dc-chart path.dc-symbol, g.dc-legend-item.fadeout {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
  }
  .dc-hard .number-display {
      float: none;
  }
  .dc-chart .box text {
      font: 10px sans-serif;
      -webkit-user-select: none;
      /* Chrome/Safari */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* IE10 */
      -o-user-select: none;
      user-select: none;
      pointer-events: none;
  }
  .dc-chart .box line, .dc-chart .box circle {
      fill: #fff;
      stroke: #000;
      stroke-width: 1.5px;
  }
  .dc-chart .box rect {
      stroke: #000;
      stroke-width: 1.5px;
  }
  .dc-chart .box .center {
      stroke-dasharray: 3, 3;
  }
  .dc-chart .box .outlier {
      fill: none;
      stroke: #ccc;
  }
  .dc-chart .box.deselected .box {
      fill: #ccc;
  }
  .dc-chart .box.deselected {
      opacity: .5;
  }
  .dc-chart .symbol {
      stroke: none;
  }
  .dc-chart .heatmap .box-group.deselected rect {
      stroke: none;
      fill-opacity: .5;
      fill: #ccc;
  }
  .dc-chart .heatmap g.axis text {
      pointer-events: all;
      cursor: pointer;
  }
    .chart{
      width: 100%;
      height: 50px;
      background: #e8f2fc;
    }
    .background.bar {
    fill: #dbedff;
  }
  .clipPath {
    fill: white;
  }
  .foreground.bar {
    fill: #67e6bb;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #e4e7ec;
    shape-rendering: crispEdges;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .brush rect.extent {
    fill: white;
    fill-opacity: .75;
  }

  .brush .resize path {
    fill: #eee;
    stroke: #666;
  }
  #date-chart g.y{
    display: none;
  }

}
