<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/tenant/styles/images/title-logo.png" type="image/x-icon">
  <title>Alert</title>
  <link rel="stylesheet" type="text/css" href="/frontend/Layout-public.min.css" >
  <link rel="stylesheet" href="index.css" />
  <script>
    if ( window.navigator.userAgent.indexOf('Trident/') > -1 ) {
      document.write('<'+'script src='+"polyfill-ie11.js"+'>'+'<\/script>')
    }
  </script>
  <!--[if lt IE 10]>
  <script src="polyfill-ie10.js"></script>
  <![endif]-->
  <!--[if lte IE 11]>
  <script src="polyfill-ie11.js"></script>
  <![endif]-->
</head>
<body>
<div id="root" class="root"></div>
<div id="tree" style="margin-left:200px;">

</div>

<script src="index.js"></script>
<script>
(function() {
  "use strict";

  var root = this;

  var previousChatops = root.$$;

  // 未来考虑改成构造函数
  var $$ = new Object();

  root.$$ = root.Chatops = $$;

  // Current version
  $$.VERSION = '0.0.9';

  $$.Origin = (function() {

    var URL = '*';
    var URL_REGEXP = /^((http|https):\/\/)([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;

    var getUrl = function() {
      return URL;
    }

    var setUrl = function(url) {
      if (URL_REGEXP.test(url)) {
        URL = url;
      } else {
        throw new Error(url + 'is not the right url.')
      }
    }

    return {
      get: getUrl,
      set: setUrl
    }
  })();

  $$.postMessage = {

    send: function(originData, originUrl) {
      var data = originData || '';
      var url = originUrl || $$.Origin.get();
      root.parent.postMessage(data, url);
    }
  }

  $$.dialog = {

    type: 'dialog',

    open: function(key, url) {
      $$.postMessage.send({
        key: key || '',
        type: this.type,
        show: true
      });
    },

    close: function(key) {
      $$.postMessage.send({
        key: key || '',
        type: this.type,
        show: false
      });
    }
  }

  $$.noConflict = function() {
    root.$$ = previousChatops;
    return this;
  }

  // AMD
  if (typeof define === 'function' && define.amd) {
    define('Chatops', [], function() {
      return $$;
    });
  }
}.call(this));

</script>
</body>
</html>
