@import "../../vars.less";

// levelIcon style on local
.iconMain{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    &.jjColorIcon{
        background-color: #eb5a30;
        box-shadow: #eb5a30 0px 0px 5px;
        -moz-box-shadow: #eb5a30 0px 0px 5px;
        -webkit-box-shadow: #eb5a30 0px 0px 5px;
        &.whiteIcon{
            background-color: #fff;
        }
    }
    &.hfColorIcon{
        background-color: #a5f664;
        box-shadow: #a5f664 0px 0px 5px;
        -moz-box-shadow: #a5f664 0px 0px 5px;
        -webkit-box-shadow: #a5f664 0px 0px 5px;
        &.whiteIcon{
            background-color: #fff;
        }
    }
    &.gjColorIcon{
        background-color: #ff9524;
        box-shadow: #ff9524 0px 0px 5px;
        -moz-box-shadow: #ff9524 0px 0px 5px;
        -webkit-box-shadow: #ff9524 0px 0px 5px;
        &.whiteIcon{
            background-color: #fff;
        }
    }
    &.txColorIcon{
        background-color: #fadc23;
        box-shadow: #fadc23 0px 0px 5px;
        -moz-box-shadow: #fadc23 0px 0px 5px;
        -webkit-box-shadow: #fadc23 0px 0px 5px;
        &.whiteIcon{
            background-color: #fff;
        }
    }
}
