@import "../../vars.less";

// levelIcon style on local
.iconMain{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    &.jjColorIcon{
        background-color: #ec5437;
        box-shadow: #ec5437 0px 0px 5px;
        -moz-box-shadow: #ec5437 0px 0px 5px;
        -webkit-box-shadow: #ec5437 0px 0px 5px;
        &.whiteIcon{
            background-color: #fff;
        }
    }
    &.hfColorIcon{
        background-color: #4fdfbf;
        box-shadow: #4fdfbf 0px 0px 5px;
        -moz-box-shadow: #4fdfbf 0px 0px 5px;
        -webkit-box-shadow: #4fdfbf 0px 0px 5px;
        &.whiteIcon{
            background-color: #fff;
        }
    }
    &.gjColorIcon{
        background-color: #fa8c16;
        box-shadow: #fa8c16 0px 0px 5px;
        -moz-box-shadow: #fa8c16 0px 0px 5px;
        -webkit-box-shadow: #fa8c16 0px 0px 5px;
        &.whiteIcon{
            background-color: #fff;
        }
    }
    &.txColorIcon{
        background-color: #f6cb03;
        box-shadow: #f6cb03 0px 0px 5px;
        -moz-box-shadow: #f6cb03 0px 0px 5px;
        -webkit-box-shadow: #f6cb03 0px 0px 5px;
        &.whiteIcon{
            background-color: #fff;
        }
    }
    &.noAlertsColorIcon{
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        background-color: #6dcd7c ;
        box-shadow: #6dcd7c  0px 0px 5px;
        -moz-box-shadow: #6dcd7c  0px 0px 5px;
        -webkit-box-shadow: #6dcd7c  0px 0px 5px;
        &.whiteIcon{
            background-color: #fff;
        }
    }
}
