@import "../../vars.less";

// tagsGroup style on local
.tagsGroupMain{
    height: 30px;
    text-align: center;
    border: 1px solid #d5ddeb;
    border-radius: 3px;
    background: #fff;
    .typeName{
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 5px 3px 5px 3px;
        color: #acb2be;
    }
    div{
        position: relative;
        display: inline-block;
        margin-right: 3px;
        height: 22px;
        background: #e9edf2;
        border: 1px solid #ebeff3;
        box-shadow: #ebeff3 0px 0px 2px;
        border-radius: 3px;
        vertical-align: top;
        margin-top: 3px;
        padding: 3px;
        p{
            position: relative;
            bottom: 2px;
            margin-right: 3px;
            font-weight: bold;
            display: inline-block;
            vertical-align: top;
        }
        i{
            position: relative;
            display: inline-block;
            bottom: 5px;
            vertical-align: top;
            color: #acb3bf
        }
    }
}