@import "../../vars.less";

// config checkList on local
.ckeckModalMain{
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  .checkedText{
    position: relative;
    left: 5px;
    //color: #acb2be;
    color: #81c5f6;
    font-size: 14px;
    letter-spacing: 1px;
    .textNum{
      //color: #4082e6;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
    }
  }

     li{
      position: relative;
      margin-top: 10px;
      //border-bottom: 1px solid #f1f3f5;
      border-bottom: 1px solid #245893;
      line-height: 30px;
      padding-bottom: 5px;
      padding-left: 100px;
      font-size: 13px;
      // if no spread li
      &.hidden{
        height: 36px;
        overflow: hidden;
      }
      &:last-child{
        border-bottom: none;
      }
      span{
        display: inline-block;
        padding: 0 5px;
        //color:#828b9a;
        color: #fff;
        margin-right: 20px;
        margin-bottom: 5px;
        cursor: pointer;
        i{
          margin-left: 5px;
          font-size: 14px;
        }
        &.tagsSelected{
           //background: #66a6fe;
           background: #144478;
           border-radius: 3px;
           color: white;
           &:hover{
            //  background: none;
           }
        }
        &:hover{
          background: #144478;
          //background: #66a6fe;
          color: white;
          border-radius: 3px;
        }
      }
      .tagsName{
        position: absolute;
        display: inline-block;
        padding: 0 5px;
        //color:#828b9a;
        color: #81c5f6;
        margin-bottom: 5px;
        left: 0;
        //font-weight: bold;
        margin-right: 20px;
      }
    }

}
