@import "../vars.less";

.configHome{
    margin: 0px 5%;
    & > a > div{
        position: relative;
        border: 1px solid red;
        height: 140px;
        margin-bottom: 30px;
        .configIcon{
            position: absolute;
            left: 5%;
            top: 20px;
            line-height: 100px;
            font-size: 100px;
            color: red;
        }
        .title{
            position: absolute;
            top: 25px;
            left: 15%;
            font-size: 30px;
        }
        .message{
            position: absolute;
            top: 90px;
            left: 15%;
            font-size: 15px;
        }
    }
}