@import "../vars.less";

// set application button
.appBtn{
    margin-top: 20px;
    & > span{
        position: relative;
        bottom: 2px;
        margin-left: 4px;
    }
}

// set application modal
.appModalMain{
    padding: 10px 25px;
    .appTitle{
        margin-top: 10px;
    }
    .appItem{
        position: relative;
        text-align: center;
        display: inline-block;
        background: #dce2e6;
        box-shadow: #ebeff3 0px 0px 2px;
        font-size: 16px;
        line-height: 5;
        height: 80px;
        width: 100px;
        margin-top: 10px;
        margin-right: 20px;
        border-radius: 4px;
        padding: 0px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}