.title {

}
.btnWrap {
  float: right;
}
.defineConditions {
  width: 65%;
}
.btnWrap {
  float: right;
}
.btn {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}
.addLine {

}
.addBlock {

}
