
:global(#RuleEditor) {
  color: #fff;
  padding-bottom: 200px;
  h2 {
    position: relative;
    display: inline-block;
    color: #6ac5fe;
    line-height: 48px;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 2px solid #6ac5fe;
    z-index: 1;
  }
  & > div {
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 49px;
      left: 0;
      background-color: #225188;
    }
  }

  :global {
    // .ant-form, .ant-tabs {
    //   padding: 25px;
    // }
    .ant-select-selection{
      border-radius: 2px;
    }
    .ant-input {
      border-radius: 2px;
    }
    .ant-tabs-bar {
      border-bottom: 0;
      background-color: transparent;
    }
    .ant-tabs-tab {
      width: auto;
      background-color: #095a95;
      color: #9dd6ff;
      height: 28px;
      line-height: 28px;
      padding: 0 12px;
      border: 1px solid #297ebb;
      border-radius: 2px;
      margin-right: 10px;
    }
    .ant-tabs-nav-scroll, .ant-tabs-nav-wrap {
      overflow: visible;
    }
    .ant-tabs-tab-active {
      position: relative;
      background-color: #158ad4;
      color: #fff;
      border-color: #158ad4;
      margin-bottom: 0;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 26px;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent #123863 transparent ;
        border-width: 8px;
      }
    }
    .ant-tabs-tabpane {
      margin-top: 15px;
      background-color: #123863;
      padding: 30px 25px;
      em {
        color: #5994d6;
        font-style: normal;
        margin: 0 10px;
      }
    }
  }
  // :global(.ant-form-item) {
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }
}

.title {
  padding: 0 15px;
  color: #6ac5fe;
  height: 55px;
  line-height: 55px;
  background-color: #0d3562;
  border: 1px dashed #2769a2;
}
.level1 {
  margin-left: 10px;
}
.level2 {
  margin-left: 20px;
}
.level3 {
  margin-left: 30px;
}
.btnWrap {
  float: right;
  & > span {
    width: 70px;
    height: 32px;
    line-height: 32px;
    background-color: #158ad4;
    text-align: center;
    color: #fff;
    border-radius: 2px;
  }
}
.conditionList {
  width: 65%;
  padding: 25px;
  & > div {
    position: relative;
    margin-bottom: 7px;
    &:before {
      content:  '';
      position: absolute;
      top: 10px;
      left: -35px;
      display: block;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-width: 0 0 1px 1px;
      border-color: #2769a2;
      border-style: solid;
    }
  }
  :global {
    .treeTag0 {
      &:before {
        display: none;
      }
    }
    .treeTag1 {
      margin-left: 50px;
    }
    .treeTag2 {
      margin-left: 100px;
      .addBlock {
        display: none;
      }
    }
    .ant-select {
      width: 122px;
    }
  }

}

.btn {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}
.addLine {
  position: relative;
}
.addBlock {
  position: relative;
}

.submit {
  display: inline-block;
  margin-left: 25px;
  width: 90px;
  height: 32px;
  line-height: 32px;
  background-color: #158ad4;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.baseInfo {
  font-size: 14px;
}

.alertSource {

}
