@import "../vars.less";

// no queryList
.alertListInfo{
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -100px;
    margin-top: -10px;
    color: #fff;
    font-size: 14px;
    &:before{
        display: inline-block;;
        margin-right: 20px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #daab1c;
        text-align: center;
        line-height: 20px;
        color: white;
        content: '!';

    }
}

.queryOperate{
    position: relative;
    background: #153d69;
    padding: 15px 5px 15px 10px; 
    .count{
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
        color: #90c6ee;
        font-size: 13px;
    }
    .groupMain{
        display: inline-block;
        position: relative;
        float: right;
        .switch{
            position: absolute;
            left: 120px;
            top: 4px;
            color: #5994d6;
        }
    }

    // cover ant-design Select style on local
    .selectSingle{
        &.setGroup{
            float: right;
            width: 160px;
        }
        &:global.ant-select{
            //color: #6c7480;
            font-size: 13px;
            font-weight: normal;
            :global .ant-select-selection--single {
                height: 30px;
                :global .ant-select-selection__rendered{
                    line-height: 28px;
                    margin-left: 10px;
                    margin-right: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    .button{
        position: relative;
        height: 30px;
        display: inline-block;
        border-radius: 3px;
        //border: 1px solid #d5ddeb;
        //background-color: #fff;
        background-color: #0d5990;
        border: 1px solid #297ebb;
        margin-right: 10px;
        cursor: pointer;
        transition: border .2s;
        &:hover{
            border-color: #2bb4f4;
        }
        &.rightBtn{
            float: right;
        }
        p{
            position: relative;
            display: inline-block;
            padding: 4px 10px;
            font-size: 13px;
            font-weight: normal;
            text-align: center;
            color: #5994d6;
            &.col{
                padding-left: 5px;
            }
        }
        .setCol{
            position: relative;
            display: inline-block;
            top: 2px;
            padding-left: 8px;
            color: #7dbae6;
        }
    }
}

.alertDetailModal{
    position: fixed;
    width: 40%;
    top: 25px;
    right: 13px;
    bottom: 20px;
    transition: transform .3s ease-out;
    overflow: hidden;
    transform: translate(105%);
    //background: #fff;
    background: #1d6aa7;
    z-index: 999;
    //box-shadow: #d7dce4 0px 0px 30px;
    box-shadow: #163b64 0px 0px 30px;
    border-radius: 4px;
    &.show{
        transform: translate(0);
    }
    &:after{
        content: ' ';
        display: inline-block;
        position: absolute;
        top: 42px;
        width: 120%;
        height: 1px;
        //background: #d5ddeb;
        background: #245893;
    }

}

// popover card
.popoverMain{
    position: relative;
    div:last-child{
        margin-bottom: 5px;
    }
    .colGroup{
        margin: 10px 10px 15px 10px;
        width: 200px;
        & > p{
            color: #5994d6;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 4px;
            line-height: 10px;
            &:after {
                position: relative;
                content: " ";
                display: inline-block;
                height: 1px;
                width: 90%;
                background: #5994d6;
            }
        }
        .inlineItem {
            display: inline-block;
            width: 100px;
            padding-bottom: 5px;
            :global{
                .ant-checkbox-wrapper + span, .ant-checkbox + span{
                    display: inline-block;
                    white-space: nowrap;
                    max-width: 80px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: middle;
                }
            }
        }
    }
}

// cover menuitem
.menuItem{
    &:global.ant-dropdown-menu-item{
        font-size: 13px;
        font-weight: normal;
        width: 103px;
    }
    &:global.ant-select-dropdown-menu-item{
        font-size: 13px;
        font-weight: normal;
    }
}

.keywordsMenuItem{
    &:global.ant-select-dropdown-menu-item{
        padding: 7px 10px;
    }
}

// cover Col style
.colStyle{
    & > div:first-child{
        & > div:last-child{
            //width: 18%;
            & > div{
                & > div{
                    & > div{
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                        border-right: none;
                    }
                }
            }
        }
    }
    & > div:last-child{
        margin-bottom: 0px;
        & > div{
            position: absolute;
            top: -57px;
            width: 70%;
            margin-left: 24.9%;
            & > div{
                & > input{
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }
        }
    }
}

// 工单框
.ticketModal{
    position: fixed;
    width: 40%;
    top: 25px;
    right: 13px;
    bottom: 20px;
    transition: transform .3s ease-out;
    overflow: hidden;
    transform: translate(105%);
    //background: #fff;
    background: #214d7f;
    z-index: 999;
    //box-shadow: #d7dce4 0px 0px 30px;
    box-shadow: #163b64 0px 0px 30px;
    border-radius: 4px;
    &.show{
        transform: translate(0);
    }
    .detailHead{
        position: relative;
        margin: 12px 12px 10px 18px;
        .shanChu{
            position: absolute;
            top: -2px;
            right: 10px;
            cursor: pointer;
            color: #5bb1ef;
        }
        p{
            font-size: 14px;
            color: #fff;
        }
    }
    iframe{
        border: none;
        width: 100%;
        height: 100%;

    }
}
