@import "../vars.less";
:global{
  .alertShow{
    position: absolute;
    background: #000;
    opacity: .8;
    padding: 10px;
    color: white;
    border-radius: 3px;
    z-index: 9999;

  }
}

.exclamation{
  display: inline-block;;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  //background: #4082e6;
  background: #daab1c;
  text-align: center;
  line-height: 20px;
  color: white;
  content: '!';
}
.manageHead{
  overflow: hidden;
  .myRadioGroup{
    color: #fff;
    margin-left: 29px;
  }
}
.loadingWrap{
  position: relative;
  height: 100%;
  clear: both;
  color: #4082e6;
}
.treemap{
  width: 100%;
  top: 0;
  // background:#0d3158
}
.maxTreemap {
  z-index: 920
}
.alertSetInfo{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -10px;
  //color: #4082e6;
  color: #fff;
  font-size: 14px;
  &:before{
    .exclamation()
  }
}
.alertNoData{
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
  font-size: 14px;
  color: white;
  &:before{
    .exclamation()
  }
}
.alertSetTip{
  position: absolute;
  right: 16px;
  top: 10px;
  width: 343px;
  height: 259px;
  //background: ~"url('./guideTip.png')";
  z-index: 100001;
  cursor: pointer;
}
.focusSet{
  float: right;
  width: 110px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 2px;
  color: white;
  background-color: #4082e6;
  cursor: pointer;
  i{
    margin-right: 5px;
    vertical-align: middle;
    font-size: 14px;
  }
}
.fullScreenMask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .9;
    z-index: 915;
  }
.layout{
  float: right;
  padding-top: 4px;
  margin-right: 12px;
 
  a{
    display: inline-block;
    &.autoLayout, &.fixedLayout{
      width: 32px;
      height: 26px;
      background: #275fa4;
      border-radius: 2px;
      color: #74afd9;
      text-align: center;
    }
    &.fullScreen{
      margin-right: 10px;
    }
    &.minFullScreen{
      position: fixed;
      z-index: 2000;
      right: 10px;
      top: 23px;
      i{
        font-size: 24px;
        color: #6cecff;
      }
    }
    &.autoLayout{
      border-radius: 0  3px 3px 0;
    }
    &.fixedLayout{
      border-radius: 3px 0 0 3px;
    }
    
  }
  :global{
    a.curLayout{
        background: #204f86;
        color: white;
    }
  } 
}

ul.alertStatus{
  position: absolute;
  right: 10px;
  top: 65px;
  li{
    position: relative;
    margin-right: 15px;
    float: left;
    p{
      display: inline-block;
      position: relative;
      left: 8px;
      color: #4990c4;
    }
    .extraStyle{
      display: inline-block;
      position: relative;
      top: 2px;
    }
  }
}
.myModal{
  :global{
    .ant-modal-body{
      max-height: 400px;
      overflow: auto;
      &::-webkit-scrollbar-thumb {
        width: 7px;
        //background-color: #d3d4d6;
        background-color: #1d6aa7;
        border: 2px solid #153d5e;
        border-radius: 7px;
      }
      &::-webkit-scrollbar {
          width: 7px;
          height: 7px;
          background-color: #153d5e;
          border-radius: 7px;
      }
      &::-webkit-scrollbar-track {
          width: 10px;
      }
    }
    .ant-modal-content {
      width: 600px;
    }
  }
}
.modalFooter{
  height: 60px;
  line-height: 60px;
  margin: -10px -16px -10px -10px;
  //background: #f2f7fc;
  background: #145e99;
  text-align: center;
  .ghostBtn{
    color: #fff;
    background-color: #108ee9;
    border-color: #108ee9;
    &:hover{
      color: #fff;
      background-color: #49a9ee;
      border-color: #49a9ee;
    }
  }
  button{
        width: 82px;
  }
}

:global{
  .blue{
    :local{
      .alertItemSet{
        color: @white2;
        ul{
          li{
            p{
              color:#4990c4;
            }
          }
        }
      }
    }
  }
}
